header {
	width: 960px;
	

}
header h1 {
	color: white;
	background-color: #4aaaa5;
	font-size: 30px;
	font-family: Georgia, Times, "Times New Roman", serif;
	padding: 20px;
	margin: 0px 100px 0px 100px;
	width: 270px;
	text-align: center;
}
#navbar {
	display: inline-block;
}